In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [4]:
data = {
    'Hours': [1,2,3,4,5,6,7,8],
    'Marks': [25,35,45,50,55,65,70,80]
}

df = pd.DataFrame(data)
df

   Hours  Marks
0      1     25
1      2     35
2      3     45
3      4     50
4      5     55
5      6     65
6      7     70
7      8     80

In [8]:
X = df[['Hours']]
y = df[['Marks']]

In [19]:
# Step4: Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.5, random_state=0)
print("Training samples:", len(X_train))
print("Testing samples:", len(X_test))

Training samples: 4
Testing samples: 4

In [11]:
#Creating the training model 
# Train the model 

model = LinearRegression()
model.fit(X_train, y_train)
print ("Model trained successfully")

Model trained successfully

In [20]:
# Prediction
y_pred = model.predict(X_test)
print(y_test.values)
print("Actual: ",list(y_test.values))

print("Predicted:",list(y_pred))

[[70]
 [45]
 [35]
 [80]]
Actual:  [array([70]), array([45]), array([35]), array([80])]
Predicted: [array([72.05741627]), array([42.10526316]), array([34.61722488]), array([79.54545455])]