In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np

In [ ]:
data=pd.read_csv("sales_data.csv")
data.head()

In [ ]:
X = data[['Advertising_Spend']]
y = data[['Sales_Revenue']]

In [ ]:
model=LinearRegression()

In [ ]:
model.fit(X,y)
print ("Training done")

In [ ]:
new_spend= float(input('Enter new spend (in thousands) to predict sales revenue'))
predicted_revenue=model.predict([[new_spend]])
print(f'New spend {new_spend} predicted revenue is {predicted_revenue}')

# Linear Regression â€” House Price Prediction
Download house_price.csv file from gitHub

**Goal:**Train a Linear Regression model to predict house price from size

In [16]:
data=pd.read_csv("house_price.csv")
data.head()
data = data.replace('?', pd.NA).dropna()
data

   Size_sqft   Price
0       1000  150000
1       1200  170000
2       1500  200000
3       1800  230000
4       2000  260000

In [17]:
X = data[['Size_sqft']]
y = data[['Price']]

In [18]:
model=LinearRegression()
model.fit(X,y)
house_size=int(input('Size of the house in sqft: '))
predictedprice=model.predict([[house_size]])
print(f'predicted price for {house_size} is {predictedprice}')

Size of the house in sqft:  4000

predicted price for 4000 is [[470382.35294118]]

/opt/anaconda3/lib/python3.13/site-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(